<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Todo page</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
<h1>User details</h1>
<div class = "main_container">
    <div class="row">
        <div class="left">Todo userId:</div>
        <div class="left" th:text="${todo.userId}"></div>
    </div>

    <div class="row">
        <div class="left">Id: </div>
        <div class="left" th:text="${todo.id}"></div>
    </div>

    <div class="row">
        <div class="left">Title: </div>
        <div class="left" th:text="${todo.title}"></div>
    </div>

    <div class="row">
        <div class="left">Completed: </div>
        <div class="left" th:text="${todo.completed}"></div>
    </div>
</div>
</body>
</html>